# CAP idmx
_out
*.db
*.sqlite
connection.properties
# default-*.json
.cdsrc-private.json
gen/
node_modules/
target/
.core/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log
*.core

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# auto generated wildcard
# db/.env
# /log
# .default-env.json
# auto generated wildcard
db/.env
db/data/materialdata.xlsx
.eslintrc
.vscode